# DOCs
DOCs/** linguist-documentation
*.md linguist-documentation

# assets
assets/** linguist-vendored

# images and graphics
*.png linguist-generated=true
*.jpg linguist-generated=true
*.jpeg linguist-generated=true
*.svg linguist-generated=true
*.ico linguist-generated=true
*.pdf linguist-generated=true
