version: "3.9"

services:

  backend:
    build:
      context: ./src/backend
      dockerfile: backend.Dockerfile
    container_name: backend
    expose:
      - "8000"
    env_file:
      - ./src/backend/.env

  frontend:
    build:
      context: ./src/frontend
      dockerfile: frontend.Dockerfile
    container_name: frontend
    expose:
      - "80"

  nginx:
    image: nginx:1.25
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./src/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./src/frontend/dist:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
      - frontend

networks:
  default:
    name: bullbear_network
