version: "3.9"

services:
  backend:
    build:
      context: ./src/backend
      dockerfile: backend.Dockerfile
    container_name: backend
    expose:
      - "8000"
    env_file:
      - ./src/backend/.env


  frontend:
    build:
      context: ./src/frontend
      dockerfile: frontend.Dockerfile
    container_name: frontend
    expose:
      - "80"

  nginx:
    image: nginx:1.25
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./src/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./src/frontend/dist:/usr/share/nginx/html
      - /etc/ssl/bullbear:/etc/ssl/bullbear
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
